*
!.gitignore
!/README.md
!update.sh
!*/
!/pub/tf2_ds.txt
!/pub/tf2pub.service
!/pub/run.sh
!/pub/tf2/tf/cfg/server.cfg
!/pub/tf2/tf/cfg/mapcycle.txt
!/pub/tf2/tf/cfg/motd.txt
!/pub/tf2/tf/cfg/banned_user.cfg
!/pub/tf2/tf/cfg/sourcemod/mapchooser.cfg
!/pub/tf2/tf/addons/sourcemod/configs/admins_simple.ini
!/pub/tf2/tf/addons/sourcemod/configs/admin_overrides.cfg
!/mix/tf2_ds.txt
!/mix/tf2mix.service
!/mix/run.sh
!/mix/tf2/tf/cfg/server.cfg
!/mix/tf2/tf/cfg/mapcycle.txt
!/mix/tf2/tf/cfg/motd.txt
!/mix/tf2/tf/cfg/banned_user.cfg
!/mix/tf2/tf/cfg/cp_badlands.cfg
!/mix/tf2/tf/cfg/cp_cardinal_rc1a.cfg
!/mix/tf2/tf/cfg/cp_follower.cfg
!/mix/tf2/tf/cfg/cp_granary.cfg
!/mix/tf2/tf/cfg/cp_granary_pro_rc8.cfg
!/mix/tf2/tf/cfg/cp_gullywash_final1.cfg
!/mix/tf2/tf/cfg/cp_logjam_rc10a.cfg
!/mix/tf2/tf/cfg/cp_metalworks.cfg
!/mix/tf2/tf/cfg/cp_process_final.cfg
!/mix/tf2/tf/cfg/cp_propaganda_b15.cfg
!/mix/tf2/tf/cfg/cp_prolands_rc2t.cfg
!/mix/tf2/tf/cfg/cp_reckoner_rc4a.cfg
!/mix/tf2/tf/cfg/cp_snakewater_final1.cfg
!/mix/tf2/tf/cfg/cp_sunshine.cfg
!/mix/tf2/tf/cfg/koth_bagel_rc2a.cfg
!/mix/tf2/tf/cfg/koth_product_rcx.cfg
!/mix/tf2/tf/cfg/koth_viaduct.cfg
!/mix/tf2/tf/cfg/sourcemod/mapchooser.cfg
!/mix/tf2/tf/addons/sourcemod/configs/admins_simple.ini
!/mix/tf2/tf/addons/sourcemod/configs/admin_overrides.cfg
!/mge/tf2_ds.txt
!/mge/tf2mge.service
!/mge/run.sh
!/mge/tf2/tf/cfg/server.cfg
!/mge/tf2/tf/cfg/mapcycle.txt
!/mge/tf2/tf/cfg/motd.txt
!/mge/tf2/tf/cfg/banned_user.cfg
!/mge/tf2/tf/cfg/ultiduo_baloo_v2.cfg
!/mge/tf2/tf/cfg/ultiduo_grove_b4.cfg
!/mge/tf2/tf/cfg/koth_ultiduo_r_b7.cfg
!/mge/tf2/tf/cfg/ultiduo_gullywash_b2.cfg
!/mge/tf2/tf/cfg/ultiduo_seclusion_b3.cfg
!/mge/tf2/tf/cfg/sourcemod/mapchooser.cfg
!/mge/tf2/tf/addons/sourcemod/configs/admins_simple.ini
!/mge/tf2/tf/addons/sourcemod/configs/admin_overrides.cfg